<div class="mt-4 text-center">
  <h2 class="text-2xl font-bold text-gray-800 md:m-8 lg:text-3xl">質問一覧</h2>
  <div class="mt-4"><%= link_to '質問を投稿する', new_question_url, class:"w-full px-4 py-2 text-sm font-medium text-white uppercase transition-colors duration-200 bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:bg-blue-500" %></div>
</div>
<div class="grid gap-4 sm:grid-cols-2 md:gap-6 lg:grid-cols-3">
  <%= render @questions %>
</div>
