<h1>Questions#index</h1>
<p>Find me in app/views/questions/index.html.erb</p>

<td><%= link_to '質問を投稿する', new_question_url %></td><br>
<td><%= link_to 'ハッシュタグ一覧', categories_path %></td><br>

<h2 class="m-4 text-center text-2xl font-bold text-gray-800 md:m-8 lg:text-3xl">質問一覧</h2>
<div class="grid gap-4 sm:grid-cols-2 md:gap-6 lg:grid-cols-3">
  <%= render @questions %>
</div>

