<footer class="shadow bg-lime-600 mt-16">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
    <span class="block text-sm sm:text-center text-white"> 2023 <a href="/" class="hover:underline">公共Living</span>
  </div>
</footer>
