<div class="chat-messages">
  <% chats.each do |chat| %>
    <% if chat.user_id == current_user.id %>
      <div class="message self">
        <div class="message-body">
          <%= safe_join(chat.message.split("\n"),tag(:br)) %>
        </div>
      </div>
    <% else %>
      <div class="message other">
        <div class="message-sender">
          <%= image_tag avatar_url(chat.user), width: 50, class: "rounded-lg" %>
          <%= chat.user.name %></div>
        <div class="message-body">
          <%= safe_join(chat.message.split("\n"),tag(:br)) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
