<div>
  <%= form_with(model: @question, local: true) do |f| %>

    <div>
      <%= f.label :answer_content, "回答" %><br>
      <%= f.text_area :answer_content %>
    </div>
    <%= f.submit '登録'  %>
  <% end %>
</div>
